body {
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 50;
}

header {
    background-color: #6b076d;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

input[type="file"] {
    flex: 1;
    padding: 0.5rem;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#result-display {
    padding: 1rem;
    border: 1px solid #ccc;
}

/* footer { */
    /* text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff; */
    /* background:#333;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    position:absolute;
    right: 0;
    left:0; */
    /* bottom: 0; */
    /* color: #fff; */
/* } */

.sticky-footer{
    position:sticky ;
    top: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    right:0 ;
    left: 0;
}


